<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- CSS/Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/stylesheet.css">
</head>


<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark justify-content-center">
        <!-- Website Logo and Name -->
        <a class="navbar-brand" href="{{ url_for('index') }}" style="color: rgb(242, 112, 199)" ;>
            <h1>Bella's Workhub</h1>
        </a>
    </nav>
    <nav class="navbar navbar-dark bg-dark justify-content-center">
        <div class="d-flex justify-content-center">
            <a class="btn nav-btn" href="/register_company">Register Company</a>
        </div>
    </nav>
    <div id="bodypage" class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>