[submodule "workhub"]
	path = workhub
	url = https://github.com/CharlieRosander/WorkHub
[submodule "ClassificationModelTrainer"]
	path = ClassificationModelTrainer
	url = https://github.com/CharlieRosander/ClassificationModelTrainer
[submodule "ClothingDatabase"]
	path = ClothingDatabase
	url = https://github.com/CharlieRosander/ClothingDatabase
[submodule "GroceryList"]
	path = GroceryList
	url = https://github.com/CharlieRosander/GroceryList
[submodule "Exam_DL"]
	path = Exam_DL
	url = https://github.com/CharlieRosander/Exam-DL
[submodule "Exam_ML"]
	path = Exam_ML
	url = https://github.com/CharlieRosander/ML_Exam
