{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Search Images</h2>
    <form action="{{ url_for('search_images') }}" method="post">
        <div class="mb-3">
            <label for="searchQuery" class="form-label">Search by Image Name, Clothing Name, or Owner</label>
            <input type="text" class="form-control" id="searchQuery" name="search_query" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if images %}
    <h3 class="mt-5">Search Results</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for image in images %}
        <div class="col">
            <div class="card mb-5">
                <div class="card-head">
                    <img src="{{ url_for('display_image', image_id=image.id) }}" class="card-img-top img-thumbnail"
                        alt="Image" data-bs-toggle="modal" data-bs-target="#imageModal"
                        data-bs-src="{{ url_for('display_image', image_id=image.id) }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ image.image_name }}</h5>
                    <p class="card-text"><strong>Clothing Name:</strong> {{ image.clothing_name }}</p>
                    <p class="card-text"><strong>Clothing Size:</strong> {{ image.clothing_size }}</p>
                    <p class="card-text"><strong>Clothing Owner:</strong> {{ image.clothing_owner }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image View</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="" id="modalImage" class="img-fluid" alt="Image">
                </div>
            </div>
        </div>
    </div>

    {% elif images is not none %}
    <p class="mt-5">No results found.</p>
    {% endif %}
</div>
{% endblock %}